<div class="flex">
    <div>
        <img src="https://images.evetech.net/corporations/98148202/logo?size=128" />
    </div>
    <div class="px-2 text-yellow-500">
        <div class="flex items-center">
            {{ corporation.title }} <span class="text-gray-500">&lt;{{ corporation.corpTicked }}&gt;</span>
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 pl-1 text-red-500"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
            />
        </svg>
        </div>
        <div class="text-yellow-500">{{ corporation.ceo }}</div>
        {{ corporation.alliance }} <span class="text-gray-500">&lt;{{ corporation.allianceTicked }}&gt;</span>
        <div  matTooltip="{{ 'This corporation has ' + corporation.members + ' people' }}">
              <span class="inline-flex items-center px-2 py-1 text-sm font-medium text-teal-500 rounded-md bg-teal-400/10 ring-1 ring-inset ring-teal-400/20">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2 text-teal-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                  </svg>
                  {{ corporation.members }}
              </span>
        </div>
    </div>
</div>
