@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@import "./buttons.css";

body {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
}

.alliance-card,
.corporation-card,
.character-card {
  @apply border bg-white/5 border-white/10;
}

.alliance-detail-card {
  @apply border bg-white/5 border-white/10 p-4 flex flex-col;
}

.text-input {
  @apply transition-all duration-300 ease-in-out block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6;
}

.select-option-container {
  @apply relative;
}

.select {
  @apply px-4 py-2 pr-10 text-sm font-medium text-gray-300 transition-all duration-200 border appearance-none cursor-pointer bg-gray-900/50 border-gray-700/50 hover:bg-gray-800 hover:border-gray-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-cyan-500/50 focus:border-cyan-600;
}

.select .option {
  @apply py-2 text-base font-medium text-gray-100 bg-gray-900 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-cyan-500;
}

.select-option-container .chevron-down-icon {
  @apply absolute w-5 h-5 text-gray-400 transition-transform duration-200 pointer-events-none right-3 top-2.5 group-hover:text-gray-300;
}
