@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@import "./buttons.css";

body {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
}

.alliance-card {
  @apply border bg-white/5 border-white/10;
}
