<div class="flex px-2 py-2 shadow ring-1 ring-neutral-600">
    <div class="flex flex-col items-start justify-center px-4">
        <span class="text-gray-400">18:36</span>
        <span class="text-teal-500">39.09m ISK</span>
    </div>

    <div>
        <img src="https://images.evetech.net/types/621/render?size=64"  alt="Caracal" class="w-16 h-16">
    </div>

    <div class="flex flex-col items-start justify-center px-4">
        <span class="text-gray-400">Z-8Q65</span> <span class="text-red-500">(-0.8)</span>
        <span class="text-gray-400">Vale of the Silent</span>
    </div>

    <div class="flex px-4">

            <img src="https://images.evetech.net/corporations/98768569/logo?size=64" alt="Hamster Black" class="w-16 h-16 mr-4">


        <div class="flex flex-col justify-center">
                <span class="text-gray-400">Deniseus Rin</span>
                <span class="text-gray-400">Hamster Black</span>
                <span class="text-teal-500">Caracal</span>
        </div>
    </div>
</div>

