<button class="absolute z-30 inline-flex items-center p-1 text-yellow-500 transition duration-700 ease-in-out bg-yellow-600 rounded-full top-1/2 right-6 hover:bg-yellow-700 hover:text-white hover:border-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 ring-offset-black">
    <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
    <span class="sr-only">Next</span>
</button>
