<div class="flex items-center justify-center p-2 text-lg">
    Most Valuable Kills - Last 7 Days
</div>

<div class="flex gap-4">
    <!-- <svg id="rank-1" width="100%" height="100%" viewBox="-20 0 70 154" class="w-8 h-8"><path stroke="#595959" stroke-linejoin="square" stroke-width="4" d="M35.377 152H72V2.538L2 19.362v30.341l33.377-8.459V152z"></path></svg> -->
    <!-- item -->
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19726/render?size=128', type: 'Phoenix', character: 'Onion Lee', amount: '5.60b ISK' }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19722/render?size=128', type: 'Naglfar', character: 'Clout', amount: '5.36b ISK' }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/17736/render?size=128', type: 'Nightmare', character: 'Jager Mortiz', amount: '3.030b ISK' }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/670/render?size=128', type: 'Capsule', character: 'Amoli Panala', amount: '664.78m ISK' }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19726/render?size=128', type: 'Phoenix', character: 'Onion Lee', amount: '5.60b ISK' }"></valuable-kill-item>
</div>


