<div class="flex items-center justify-center p-2 text-lg">
    Most Valuable Kills - Last 7 Days
</div>

<div class="flex flex-wrap justify-between">
    <!-- item -->
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19726/render?size=128', type: 'Phoenix', character: 'Onion Lee', amount: '5.60b ISK', index: 1 }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19722/render?size=128', type: 'Naglfar', character: 'Clout', amount: '5.36b ISK', index: 2 }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/17736/render?size=128', type: 'Nightmare', character: 'Jager Mortiz', amount: '3.030b ISK', index: 3  }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/670/render?size=128', type: 'Capsule', character: 'Amoli Panala', amount: '664.78m ISK', index: 4  }"></valuable-kill-item>
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/22470/render?size=128', type: 'Nighthawk', character: 'Tizian435', amount: '661.05m ISK', index: 5 }"></valuable-kill-item>
    <valuable-kill-item [item]="{
        image: 'https://images.evetech.net/types/22468/render?size=128',
        type: 'Claymore',
        character: 'Sadisticstalker Aldard',
        amount: '535.30m ISK' , index: 6 }"
        >
    </valuable-kill-item>
    <!-- item -->
    <valuable-kill-item [item]="{ image: 'https://images.evetech.net/types/19726/render?size=128', type: 'Phoenix', character: 'Onion Lee', amount: '5.60b ISK', index: 7}"></valuable-kill-item>
</div>


