body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 100%;
    @apply bg-black text-white;
    user-select: none;
}

.fill-height {
    min-height: calc(100vh - 55px - 72px);
    @apply flex items-center justify-center content-between;
}
